
<div class="container">
    <div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>
    <h1>Makeup Diary</h1>
    <input type="text"
           class="form-control"
           placeholder="username"
           ng-model="model.username"/>
    <input type="password"
           class="form-control"
           placeholder="password"
           ng-model="model.password "/>
    <a class="btn btn-primary btn-block"
       ng-click="model.login(model.username, model.password)">Login</a>
    <!--// this param model.username and model.password is passed into the login function
     // inside of loginController -->
    <a class="btn btn-success btn-block"
       href="#!/register">Register</a>
    <a href="/auth/facebook" class="btn btn-primary btn-block">
        <span class="fa fa-facebook"></span>
        Facebook
    </a>
    <!--<a href="/auth/google" class="btn btn-primary btn-block">-->
        <!--<span class="fa fa-google"></span>-->
        <!--Google-->
    <!--</a>-->

</div>
