<nav class="navbar navbar-fixed-top cl-blue-navbar">
    <div class="container-fluid">

        <a class="cl-text-white navbar-brand cl-text-bold" href="#!/user/{{model.user._id}}">
            MyProfile
        </a>

        <a href="/#!/profile/:username" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="glyphicon glyphicon-eye-open"></span>
        </a>

        <a href="/#!/makeup/search" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="glyphicon glyphicon-plus"></span>
        </a>

        <a href="/#!/website/new" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="glyphicon glyphicon-thumbs-up"></span>
        </a>

    </div>
</nav>


<div class="container">
    <div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>
    <div ng-show="vm.error" class="alert alert-info">{{vm.message}}</div>
    <div ng-show="model.updated" class="alert alert-success" role="alert">{{model.updated}}</div>

    <form class="cl-form-bottom-padding">
        <div class="col-lg-6">

        <div class="form-group row">
            <div class="col-xs-5">
                <label for="username">Username</label>
                <input ng-model="model.user.username"
                       type="text"
                       class="form-control"
                       placeholder="alicedaylight"
                       id="username" required>
            </div>

            <div class="col-sm-6">
                <div class="team-member">
                    <img src="img/team/kim.jpg" class="img-responsive img-circle" alt="">
                    <h4>{{model.user.username}}</h4>
                    <p class="text-muted">{{model.user.firstName}}</p>

                    <div class="form-group row">
                        <div class="col-xs-5">
                            <!--<a ng-click="model.updateUser(model.user)"-->
                               <a href="#!/image/new" class="btn btn-success btn-block">Change Photo</a>
                               <a href="#!/image/edit" class="btn btn-success btn-block">Edit Photo</a>


                        </div>
                    </div>

                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>

                    <!--list of my reviews-->
                    <div ng-repeat="website in model.websites" class="container">

                        <ul class="list-group borderless">
                            <li class="list-group-item">
                                <a href="#!/website/{{website._id}}">
                                    <span class="glyphicon glyphicon-pencil pull-left"></span>
                                </a>
                                <a href="#!/website/{{website._id}}/page">{{website.name}}</a>
                            </li>
                        </ul>
                    </div>


                    <!--list of ppl I follow-->
                    <div ng-repeat="user in model.users" class="container">

                        <ul class="list-group borderless">
                            <li class="list-group-item">
                                <a href="#!/website/{{website._id}}">
                                    <span class="glyphicon glyphicon-pencil pull-left"></span>
                                </a>
                                <a href="#!/website/{{website._id}}/page">{{user.name}}</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>

        <div class="form-group row">
            <div class="col-xs-5">
                <label for="email">Email</label>
                <input ng-model="model.user.email" type="email" class="form-control" placeholder="alicedaylight@gmail.com" id="email" required>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-5">
                <label for="fName">First Name</label>
                <input ng-model="model.user.firstName" type="text" class="form-control" placeholder="Alice" id="fName" required>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-5">
                <label for="lName">Last Name</label>
                <input ng-model="model.user.lastName" type="text" class="form-control" placeholder="Day" id="lName" required>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-5"><a ng-click="model.updateUser(model.user)" class="btn btn-success btn-block">Update</a>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-5"><a ng-click="model.deleteUser(model.user)" class="btn btn-danger btn-block">Unregister</a>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-5"><a class="btn btn-primary btn-block" href="#!/website">Websites</a>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-5">
                <a class="btn btn-danger btn-block" ng-click="model.logout()">Logout</a>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-5">
                <a class="btn btn-primary btn-block" href="#!/review">My Reviews</a>
            </div>
        </div>

        </div>

        <div class="col-lg-6">

        </div>

    </form>
</div>

<nav class="navbar navbar-fixed-bottom cl-blue-navbar">
    <div class="container-fuild">
        <a href="#!/user/{{model.user._id}}" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
