<body id="page-top" class="index">

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <!--my personal information-->
                    <a class="page-scroll" href="#!/profile/#account">Account Information</a>
                </li>
                <li>
                    <!--my reviews-->
                    <a class="page-scroll" href="#!/profile/#portfolio">My Reviews</a>
                </li>
                <li>
                    <!--my reviews-->
                    <a class="page-scroll" href="#!/profile/#team">My Posts</a>
                </li>
                <li>
                    <!--ppl I follow-->
                    <a class="page-scroll" href="#!/profile/#about">Reviews I Like</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#!/makeup/search">Search</a>
                </li>
                <li>
                    <a class="btn" ng-click="model.logout()">Logout</a>

                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Services Section -->
<section id="account">
    <div class="container">
        <div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>
        <div ng-show="vm.error" class="alert alert-info">{{vm.message}}</div>
        <div ng-show="model.updated" class="alert alert-success" role="alert">{{model.updated}}</div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{model.user.username}}'s Account Information</h2>
                <h3 class="section-subheading text-muted">Enter your information below and press the corresponding
                button to update! Please remember that your username and password cannot be updated once it has been created.</h3>
            </div>
        </div>

        <div class="row text-center">

            <div class="col-md-4">
                <div class="team-member">
                <img src="img/team/kim.jpg" class="img-responsive img-circle" alt="">
                    <!--<img class="img-responsive" alt="Responsive image" ng-src="{{widget.url}}"/>-->

                    <h4>{{model.user.username}}</h4>
                <p class="text-muted">{{model.user.firstName}}</p>


                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-inline">
                            <li>
                                <label for="username">Username</label>
                                <input ng-model="model.user.username"
                                       type="text"
                                       class="form-control"
                                       placeholder="alicedaylight"
                                       id="username" required>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <label for="email">Email</label>
                                <input ng-model="model.user.email"
                                       type="email"
                                       class="form-control"
                                       placeholder="alicedaylight@gmail.com"
                                       id="email" required>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <label for="fName">First Name</label>
                                <input ng-model="model.user.firstName"
                                       type="text"
                                       class="form-control"
                                       placeholder="Alice"
                                       id="fName" required>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <label for="lName">Last Name</label>
                                <input ng-model="model.user.lastName"
                                       type="text" class="form-control"
                                       placeholder="Day" id="lName" required>
                            </li>
                        </ul>
                        <!--<p class="copyright text-muted small">Copyright &copy; Alice Day 2017. All Rights Reserved</p>-->
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-inline">
                            <li>
                                <a ng-click="model.updateUser(model.user)" class="btn btn-success btn-block">UPDATE</a>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <a ng-click="model.unregister()" class="btn btn-danger btn-block">UNREGISTER</a>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <a class="btn btn-danger btn-block" ng-click="model.logout()">LOGOUT</a>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <a class="btn btn-primary btn-block" href="#!/website">My Websites</a>
                            </li>
                        </ul>
                        <!--<p class="copyright text-muted small">Copyright &copy; Alice Day 2017. All Rights Reserved</p>-->
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">My Reviews</h2>
                <h3 class="section-subheading text-muted">Drag the reviews to re-order!</h3>
            </div>
        </div>

        <div class="row">
            <div ng-repeat="review in model.reviews" class="container">
                <!--{{review}}-->
                <!--<a href="#!/website/{{website._id}}/page">{{review.desc}} </a>-->
                <!--<a href="#!/website/{{website._id}}/page">{{review.name}} </a>-->


                <ul class="list-group borderless">
                    <li class="list-group-item">

                        <a ng-click="model.updateReview(review)">
                            <span class="glyphicon glyphicon-ok pull-right"></span>
                        </a>
                        <a ng-click="model.deleteReview(review._id, review.productId)">
                            <span class="glyphicon glyphicon-remove pull-right"></span>
                        </a>
                        <!--<a href="#!/makeup/search/all/:productId">-->
                        <!--<a href="#!/makeup/search/all/157">-->
                        <a ng-click="model.findAllReviewsForMakeup(review.productId)">
                        <span class="glyphicon glyphicon-eye-open pull-right"></span>
                        </a>


                        <label>Review Name  Makeup Brand: {{review.brand}}  Makeup Type: {{review.type}}</label>
                        <!--<img class="img-responsive" src="{{model.makeup.image_link}}"/>-->

                        <div class="form-group">
                            <label for="reviewName"></label>
                            <textarea input ng-model="review.name" class="form-control" id="reviewName" rows="1"></textarea>
                        </div>

                        Review Description
                        <div class="form-group">
                            <label for="reviewDescription"></label>
                            <textarea input ng-model="review.desc" class="form-control" id="reviewDescription" rows="5"></textarea>
                        </div>


                    </li>
                </ul>
            </div>


            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/skincare.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>SKINCARE</h4>
                    <p class="text-muted">Primers, Base, Skincare</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/startup-framework.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>HAIR</h4>
                    <p class="text-muted">Hairspray, Shampoo</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/treehouse.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>LIPS</h4>
                    <p class="text-muted">Lipstick, Lipgloss, Lipstain</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/golden.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>EYES</h4>
                    <p class="text-muted">Mascara, EyeLiner, Eyeshadow</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/escape.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>FOUNDATION</h4>
                    <p class="text-muted">Liquid, Cream, Cushion, Mineral</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/dreams.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>CHEEK</h4>
                    <p class="text-muted">Blush, Highlighter, Bronzer</p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">My Posts</h2>
                <h3 class="section-subheading text-muted">Get Started by creating your own personalized post</h3>
                <a href="#!/website/new">
                    <span class="glyphicon glyphicon-plus-sign pull-right"></span>
                </a>
            </div>
        </div>
        <div class="row">
            <div ng-repeat="website in model.websites" class="container">

                <ul class="list-group borderless">
                    <li class="list-group-item">
                        <a href="#!/website/{{website._id}}">
                            <span class="glyphicon glyphicon-cog pull-right"></span>
                        </a>
                        <!--<a href="#!/website/{{website._id}}/page">{{website.name}}</a>-->
                        <a>{{website.name}}</a>

                    </li>
                </ul>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
            </div>
        </div>
    </div>
</section>


<!--About Section-->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Reviews I Like</h2>
                <h3 class="section-subheading text-muted">Below are the reviews that you've liked </h3>
            </div>
                    <div class="row">
                        <!--<div ng-repeat="review in model.reviews" class="container">-->
                        <div ng-repeat="like in model.likes" class="container">


                            <!--<a href="#!/website/{{website._id}}/page">{{review.desc}} </a>-->
                            <!--<a href="#!/website/{{website._id}}/page">{{review.name}} </a>-->


                            <ul class="list-group borderless">
                                <li class="list-group-item">

                                    <a ng-click="model.removeReviewFromLikes(like._id)">
                                        <span class="glyphicon glyphicon-thumbs-down pull-right"></span>
                                    </a>

                                    <label>Review Name  Makeup Brand: {{like.brand}}  Makeup Type: {{like.type}}</label>
                                    <!--<img class="img-responsive" src="{{model.makeup.image_link}}"/>-->

                                    <div class="form-group">
                                        <label for="likeName"></label>
                                        <textarea input ng-model="like.name" class="form-control" id="likeName" rows="1"></textarea>
                                    </div>

                                    Review Description
                                    <div class="form-group">
                                        <label for="likeDescription"></label>
                                        <textarea input ng-model="like.desc" class="form-control" id="likeDescription" rows="5"></textarea>
                                    </div>


                                </li>
                            </ul>
                        </div>
                    </div>
        </div>
    </div>
</section>


<footer>
    <div class="footer">

    </div>

</footer>

