<body id="page-top" class="index">

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">MyProfile</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <!--my personal information-->
                    <a class="page-scroll" href="#!/profile/#account">Account Information</a>
                </li>
                <li>
                    <!--my reviews-->
                    <a class="page-scroll" href="#!/profile/#portfolio">My Reviews</a>
                </li>
                <li>
                    <!--ppl I follow-->
                    <a class="page-scroll" href="#!/profile/#about">PPl I follow</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#!/makeup/search">Search</a>
                </li>
                <li>
                    <a class="btn" ng-click="model.logout()">Logout</a>

                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Services Section -->
<section id="account">
    <div class="container">
        <div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>
        <div ng-show="vm.error" class="alert alert-info">{{vm.message}}</div>
        <div ng-show="model.updated" class="alert alert-success" role="alert">{{model.updated}}</div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{model.user.username}}'s Account Information</h2>
                <h3 class="section-subheading text-muted">Enter your information below and press the corresponding
                button to update! Please remember that your username cannot be updated once it has been created.</h3>
            </div>
        </div>

        <div class="row text-center">

            <div class="col-md-4">
                <div class="team-member">
                <img src="img/team/kim.jpg" class="img-responsive img-circle" alt="">
                <h4>{{model.user.username}}</h4>
                <p class="text-muted">{{model.user.firstName}}</p>

                <div class="form-group row">
                        <a href="#!/image/new" class="btn btn-success btn-block">Change Photo</a>
                        <a href="#!/image/edit" class="btn btn-primary btn-block">Edit Photo</a>

                </div>

                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            </div>


            <div class="col-md-4">
                <div class="team-member">

                    <div class="form-group row">
                        <div class="col-xs-5">
                            <label for="username">Username</label>
                            <input ng-model="model.user.username"
                                   type="text"
                                   class="form-control"
                                   placeholder="alicedaylight"
                                   id="username" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-5">
                            <label for="email">Email</label>
                            <input ng-model="model.user.email" type="email" class="form-control" placeholder="alicedaylight@gmail.com" id="email" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-5">
                            <label for="fName">First Name</label>
                            <input ng-model="model.user.firstName" type="text" class="form-control" placeholder="Alice" id="fName" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-5">
                            <label for="lName">Last Name</label>
                            <input ng-model="model.user.lastName" type="text" class="form-control" placeholder="Day" id="lName" required>
                        </div>
                    </div>


                </div>
            </div>



            <div class="col-md-4">
                <div class="team-member">
            <div class="form-group row">
                <div class="col-xs-5"><a ng-click="model.updateUser(model.user)" class="btn btn-success btn-block">Update</a>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-5"><a ng-click="model.unregister()" class="btn btn-danger btn-block">Unregister</a>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-5"><a class="btn btn-primary btn-block" href="#!/website">Websites</a>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-5">
                    <a class="btn btn-danger btn-block" ng-click="model.logout()">Logout</a>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-5">
                    <a class="btn btn-primary btn-block" href="#!/review">My Reviews</a>
                </div>
            </div>
                </div>
            </div>


        </div>
    </div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">My Reviews</h2>
                <h3 class="section-subheading text-muted">Drag the reviews to re-order!</h3>
            </div>
        </div>

        <div class="row">
            <div ng-repeat="review in model.reviews" class="container">
                {{review}}
                <!--{{review.desc}}-->
                <ul class="list-group borderless">
                    <li class="list-group-item">

                        <!--<a href="#!/makeup/brand/{{makeup.brand}}/type/{{makeup.product_type}}/{{makeup.id}}">-->
                            <a ng-click="model.updateReview(model.review)">
                            <span class="glyphicon glyphicon-pencil pull-right"></span>
                        </a>
                        <a href="#!/makeup/brand/{{makeup.brand}}/type/{{makeup.product_type}}/{{makeup.id}}">{{review.name}}</a>
                    </li>
                </ul>
            </div>


            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/skincare.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>SKINCARE</h4>
                    <p class="text-muted">Primers, Base, Skincare</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/startup-framework.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>HAIR</h4>
                    <p class="text-muted">Hairspray, Shampoo</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/treehouse.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>LIPS</h4>
                    <p class="text-muted">Lipstick, Lipgloss, Lipstain</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/golden.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>EYES</h4>
                    <p class="text-muted">Mascara, EyeLiner, Eyeshadow</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/escape.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>FOUNDATION</h4>
                    <p class="text-muted">Liquid, Cream, Cushion, Mineral</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/dreams.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>CHEEK</h4>
                    <p class="text-muted">Blush, Highlighter, Bronzer</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="about">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<h2 class="section-heading">PPl I follow</h2>
<h3 class="section-subheading text-muted">Click on the user's image to navigate to their profile </h3>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<ul class="timeline">
<li>
<div class="timeline-image">
<img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
</div>
<div class="timeline-panel">
<div class="timeline-heading">
<h4>2009-2011</h4>
<h4 class="subheading">Our Humble Beginnings</h4>
</div>
<div class="timeline-body">
<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
</div>
</div>
</li>
<li class="timeline-inverted">
<div class="timeline-image">
<img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
</div>
<div class="timeline-panel">
<div class="timeline-heading">
<h4>March 2011</h4>
<h4 class="subheading">An Agency is Born</h4>
</div>
<div class="timeline-body">
<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
</div>
</div>
</li>
<li>
<div class="timeline-image">
<img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
</div>
<div class="timeline-panel">
<div class="timeline-heading">
<h4>December 2012</h4>
<h4 class="subheading">Transition to Full Service</h4>
</div>
<div class="timeline-body">
<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
</div>
</div>
</li>
<li class="timeline-inverted">
<div class="timeline-image">
<img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
</div>
<div class="timeline-panel">
<div class="timeline-heading">
<h4>July 2014</h4>
<h4 class="subheading">Phase Two Expansion</h4>
</div>
<div class="timeline-body">
<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
</div>
</div>
</li>
<li class="timeline-inverted">
<div class="timeline-image">
<h4>Be Part
<br>Of Our
<br>Story!</h4>
</div>
</li>
</ul>
</div>
</div>
</div>
</section>

<!-- Team Section -->
<section id="team" class="bg-light-gray">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<h2 class="section-heading">Our Amazing Community</h2>
<h3 class="section-subheading text-muted">Join a community of makeup lovers!</h3>
</div>
</div>
<div class="row">
<div class="col-sm-4">
<div class="team-member">
<img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
<h4>Kay Garland</h4>
<p class="text-muted">Lead Designer</p>
<ul class="list-inline social-buttons">
<li><a href="#"><i class="fa fa-twitter"></i></a>
</li>
<li><a href="#"><i class="fa fa-facebook"></i></a>
</li>
<li><a href="#"><i class="fa fa-linkedin"></i></a>
</li>
</ul>
</div>
</div>
<div class="col-sm-4">
<div class="team-member">
<img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
<h4>Larry Parker</h4>
<p class="text-muted">Lead Marketer</p>
<ul class="list-inline social-buttons">
<li><a href="#"><i class="fa fa-twitter"></i></a>
</li>
<li><a href="#"><i class="fa fa-facebook"></i></a>
</li>
<li><a href="#"><i class="fa fa-linkedin"></i></a>
</li>
</ul>
</div>
</div>
<div class="col-sm-4">
<div class="team-member">
<img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
<h4>Diana Pertersen</h4>
<p class="text-muted">Lead Developer</p>
<ul class="list-inline social-buttons">
<li><a href="#"><i class="fa fa-twitter"></i></a>
</li>
<li><a href="#"><i class="fa fa-facebook"></i></a>
</li>
<li><a href="#"><i class="fa fa-linkedin"></i></a>
</li>
</ul>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-8 col-lg-offset-2 text-center">
<p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
</div>
</div>
</div>
</section>

