<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a class="cl-text-white navbar-brand cl-text-bold" href="#!/user/{{model.uid}}">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>

        <a class="cl-text-white navbar-brand cl-text-bold">
            Product Details
        </a>

        <a href="#!/makeup/search" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div>
</nav>


<div class="row container-fluid">

    <div class="container">
        <div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>
        <form class="cl-form-bottom-padding">
            <h1>{{model.makeup.name}}</h1>
            <h4>Brand: {{model.makeup.brand}}</h4>
            <h5>{{model.makeup.price}}</h5>
            <h5>{{model.makeup.rating}}</h5>
            <h5>{{model.makeup.category}}</h5>

            <img class="img-responsive" src="{{model.makeup.image_link}}"/>
            <h6>Product Description: </h6>
            {{model.makeup.description}}

            <h5>Create Your Review Below</h5>

            <div>
                <div class="form-group">
                    <label for="reviewName">Review Name</label>
                    <textarea input ng-model="model.name" class="form-control" id="reviewName" rows="1"></textarea>
                </div>


                <div class="form-group">
                    <label for="reviewDescription">Review Description</label>
                    <textarea input ng-model="model.desc" class="form-control" id="reviewDescription" rows="5"></textarea>
                </div>

                <div class="form-group">
                <a ng-click="model.createReviewForUser(model.desc, model.makeup.brand, model.makeup.product_type, model.makeup.id, model.name, model.score)"
                   class="btn btn-success btn-block">
                    CREATE NEW REVIEW
                </a>
                </div>

                <!--<div class="form-group">-->
                    <!--<a ng-click="model.viewAllReviewsForMakeup(model.desc, model.makeup.brand, model.makeup.product_type, model.makeup.id, model.name, model.score)"-->
                       <!--class="btn btn-primary btn-block">-->
                    <!--&lt;!&ndash;<a href="#!/makeup/search/all/:productId" class="btn btn-primary btn-block">&ndash;&gt;-->
                        <!--View All Reviews For this Product-->
                    <!--</a>-->

                <!--</div>-->
            </div>

            <!--<a class="btn btn-success btn-block"-->
            <!--ng-click="model.createReview(model.description, model.makeup.brand, model.makeup.type, model.makeup.productId)">Create</a>-->


        </form>
    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fuild">
        <a href="#!/profile" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="cl-text-blue glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>

