<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a class="cl-text-white navbar-brand cl-text-bold" href="#!/user/{{model.uid}}">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>

        <a class="cl-text-white navbar-brand cl-text-bold">
            All Reviews for _________ Makeup
        </a>

        <a href="#!/profile" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div>
</nav>


<div class="row container-fluid">

    <div class="container">
        <section id="portfolio" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">All Reviews</h2>
                        <h3 class="section-subheading text-muted">Click the thumbs up to like this review</h3>
                    </div>
                </div>

                <div class="row">
                    <h4>hello</h4>
                    <!--<div class="form-group row">-->
                        <!--<div class="col-lg-3"><a ng-click="model.addReviewToLikes(model.description, model.brand, model.type, model.productId, model.name, model.score, model.reviewId)" class="btn btn-success btn-block">LIKE</a>-->
                        <!--</div>-->
                    <!--</div>-->

                    <a ng-click="addReviewToLikes()">
                        <span class="glyphicon glyphicon-thumbs-up pull-right"></span>
                    </a>

                    <div ng-repeat="review in model.reviews" class="container">
                        <!--<a href="#!/website/{{website._id}}/page">{{review.desc}} </a>-->
                        <!--<a href="#!/website/{{website._id}}/page">{{review.name}} </a>-->


                        <ul class="list-group borderless">
                            <li class="list-group-item">

                                <a ng-click="model.updateReview(review)">
                                    <span class="glyphicon glyphicon-ok pull-right"></span>
                                </a>
                                <a ng-click="model.deleteReview(review._id)">
                                    <span class="glyphicon glyphicon-remove pull-right"></span>
                                </a>
                                <a href="/makeup/brand/{{model.brand}}/type/{{model.type}}/{{model.product_id}}">
                                    <span class="glyphicon glyphicon-eye-open pull-right"></span>
                                </a>


                                <label>Review Name  Makeup Brand: {{review.brand}}  Makeup Type: {{review.type}}</label>
                                <!--<img class="img-responsive" src="{{model.makeup.image_link}}"/>-->

                                <div class="form-group">
                                    <label for="reviewName"></label>
                                    <textarea input ng-model="review.name" class="form-control" id="reviewName" rows="1"></textarea>
                                </div>

                                Review Description
                                <div class="form-group">
                                    <label for="reviewDescription"></label>
                                    <textarea input ng-model="review.desc" class="form-control" id="reviewDescription" rows="5"></textarea>
                                </div>


                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fuild">
        <a href="#!/profile" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="cl-text-blue glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>

