<nav class="navbar navbar-fixed-top cl-blue-navbar">
    <div class="row container-fluid">

        <div class="col-sm-8">
            <!--<div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>-->

            <div class="navbar-text pull-left cl-text-white no-margin-left">
            </div>
            <div class="navbar-text pull-right thirty-margin-right">
                <a ng-click="model.newWebsite(model.user.name, model.user.description)" a href="#!/website" class="cl-text-white">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="navbar-text pull-left cl-text-white no-margin-left visible-xs">
                <a href="#!/user/:uid/website" class="cl-text-white">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="cl-text-white navbar-brand cl-text-bold" href="#!/user/{{model.uid}}/website/new">
                    <!--Product Detail for {{model.makeup.name}}-->
                    Product Details
                </a>
            </div>
        </div>

    </div>
</nav>

<!--// ng-repeat of new website that you created-->
<!--// same as website list-->
<div class="row container-fluid">

    <div class="container">
        <!--<div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>-->
        <form class="cl-form-bottom-padding">
            <h1>{{model.makeup.name}}</h1>
            <h4>Brand: {{model.makeup.brand}}</h4>
            <h5>{{model.makeup.price}}</h5>
            <h5>{{model.makeup.rating}}</h5>
            <h5>{{model.makeup.category}}</h5>

            <img class="img-responsive" src="{{model.makeup.image_link}}"/>
            <h6>Product Description: </h6>
            {{model.makeup.description}}


            <h5>Enter Your Review Below</h5>

    <label for="exampleInputDescription"></label>
    <textarea input ng-model="model.description"
    type="text" class="form-control" id="exampleInputDescription" placeholder="Description" rows="5"></textarea>

    <a class="btn btn-success btn-block"
       ng-click="createReview(model.description, model.makeup.brand, model.makeup.type, model.makeup.productId)">Create</a>


        </form>
    </div>

</div>

<nav class="navbar navbar-fixed-bottom cl-blue-navbar">
    <div class="container-fuild">
        <a href="#!/user/{{model.uid}}" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>

