<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a class="cl-text-white navbar-brand cl-text-bold" href="#!/user/{{model.uid}}">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>

        <a class="cl-text-white navbar-brand cl-text-bold">
            Search Makeup
        </a>

        <a ng-click="model.newPage(model.page.name, model.page.description)" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div>
</nav>


<div class="container">
    <div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>
    <form class="cl-form-bottom-padding">

        <div class="form-group">
            <label for="productType">Product Type</label>
            <select ng-model="model.type" multiple class="form-control" id="productType">
                <option>blush</option>
                <option>bronzer</option>
                <option>eyebrow</option>
                <option>eyeliner</option>
                <option>eyeshadow</option>
                <option>foundation</option>
                <option>lipLiner</option>
                <option>lipstick</option>
                <option>mascara</option>
                <option>nail Polish</option>

            </select>

            <label for="productBrand">Product Brand</label>
            <select ng-model="model.brand" multiple class="form-control" id="productBrand">
                <option>almay</option>
                <option>anna sui</option>
                <option>benefit</option>
                <option>butter london</option>
                <option>cargo cosmetics</option>
                <option>china glaze</option>
                <option>dr. hauschka</option>
                <option>e.l.f.</option>
                <option>essie</option>
                <option>iman</option>
                <option>l'oreal</option>
                <option>marcelle</option>
                <option>maybelline</option>
                <option>milani</option>
                <option>mineral fusion</option>
                <option>misa</option>
                <option>mistura</option>
                <option>nyx</option>
                <option>orly</option>
                <option>misa</option>
                <option>pacifica</option>
                <option>physicians formula</option>
                <option>pure anada</option>
                <option>revlon</option>
                <option>salon perfect</option>
                <option>sante</option>
                <option>sinful colours</option>
                <option>smashbox</option>
                <option>stila</option>
                <option>suncoat</option>
                <option>wet n wild</option>
                <option>zorah</option>
            </select>

        </div>


        <!--<label for="category">Search By Type</label>-->
        <!--<input ng-model="model.type"-->
               <!--class="form-control"  id="category" required>-->

        <!--<label for="brand">Search By Brand</label>-->
        <!--<input ng-model="model.brand"-->
               <!--class="form-control"  id="brand" required>-->


        <div class="form-group row">
            <div class="col-xs-5"><a ng-click="model.search(model.brand, model.type)" class="btn btn-success btn-block">Search</a>
            </div>
        </div>

    </form>

</div>


<div ng-repeat="makeup in model.makeups" class="row container-fluid">

    <div class="col-sm-12">
        <ul class="list-group cl-text-blue borderless">
            <li class="list-group-item">
                <a href="#!/website/{{model.wid}}/page/{{page._id}}">
                    <span class="glyphicon glyphicon-pencil pull-right"></span></a>

                <!--<a href="#!/website/{{model.wid}}/page/{{page._id}}/widget" >{{makeup.name}}</a>-->
                <a href="#!/makeup/brand/{{makeup.brand}}/type/{{makeup.product_type}}/{{makeup.id}}" >{{makeup.name}}</a>


                {{makeup.price}}
                <!--{{model.image_link}}-->
            </li>
        </ul>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fuild">
        <a href="#!/user/{{model.uid}}" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="cl-text-blue glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
