<nav class="navbar navbar-fixed-top cl-blue-navbar">
    <div class="row container-fluid">

        <div class="col-sm-8">
            <!--<div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>-->

            <div class="navbar-text pull-left cl-text-white no-margin-left">
            </div>
            <div class="navbar-text pull-right thirty-margin-right">
                <a ng-click="model.newWebsite(model.user.name, model.user.description)" a href="#!/website" class="cl-text-white">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="navbar-text pull-left cl-text-white no-margin-left visible-xs">
                <a href="#!/user/:uid/website" class="cl-text-white">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="cl-text-white navbar-brand cl-text-bold" href="#!/user/{{model.uid}}/website/new">
                    <!--Product Detail for {{model.makeup.name}}-->
                    Product Details
                </a>
            </div>
        </div>

    </div>
</nav>

<!--// ng-repeat of new website that you created-->
<!--// same as website list-->
<div class="row container-fluid">

    <div class="container">
        <!--<div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>-->
        <form class="cl-form-bottom-padding">
            <h1>{{model.makeup.name}}</h1>
            <h4>Brand: {{model.makeup.brand}}</h4>
            <h5>{{model.makeup.price}}</h5>
            <h5>{{model.makeup.rating}}</h5>
            <h5>{{model.makeup.category}}</h5>

            <img class="img-responsive" src="{{model.makeup.image_link}}"/>
            <h6>Product Description: </h6>
            {{model.makeup.description}}


            <h5>Enter Your Review Below</h5>

            <!--<label for="exampleInputDescription"></label>-->
            <!--<textarea input ng-model="model.description"-->
            <!--type="text" class="form-control" id="exampleInputDescription" placeholder="Description" rows="5"></textarea>-->

            <!--this works-->
            <div ng-model="widget.text">
                <text-angular ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]"
                              ng-model="model.desc"
                              type="text"
                              place-holder="html content"
                              id="text">
                </text-angular>


                <a ng-click="model.createReviewForUser(model.desc, model.makeup.brand, model.makeup.product_type, model.makeup.id)" a href="#!/profile"
                   class="btn btn-success btn-block">
                    Create New Review
                </a>
            </div>

            <!--<a class="btn btn-success btn-block"-->
            <!--ng-click="model.createReview(model.description, model.makeup.brand, model.makeup.type, model.makeup.productId)">Create</a>-->


        </form>
    </div>

</div>

<nav class="navbar navbar-fixed-bottom cl-blue-navbar">
    <div class="container-fuild">
        <a href="#!/user/{{model.uid}}" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>






            <!--<h5>Enter Your Review Below</h5>-->

    <!--&lt;!&ndash;<label for="exampleInputDescription"></label>&ndash;&gt;-->
    <!--&lt;!&ndash;<textarea input ng-model="model.description"&ndash;&gt;-->
    <!--&lt;!&ndash;type="text" class="form-control" id="exampleInputDescription" placeholder="Description" rows="5"></textarea>&ndash;&gt;-->


            <!--<div ng-model="model.widget.text"-->
                 <!--text-angular-->
                 <!--ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],-->
        <!--['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],-->
        <!--['indent','outdent'],['html']]"-->
            <!--ng-model="model.desc"-->
            <!--type="text"-->
            <!--place-holder="html content"-->
            <!--id="text">-->
            <!--</div>-->


            <!--&lt;!&ndash;<div ng-model="widget.text">&ndash;&gt;-->
                <!--&lt;!&ndash;<text-angular ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],&ndash;&gt;-->
        <!--&lt;!&ndash;['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],&ndash;&gt;-->
        <!--&lt;!&ndash;['indent','outdent'],['html']]"&ndash;&gt;-->
                        <!--&lt;!&ndash;ng-model="model.desc"&ndash;&gt;-->
                        <!--&lt;!&ndash;type="text"&ndash;&gt;-->
                        <!--&lt;!&ndash;place-holder="html content"&ndash;&gt;-->
                        <!--&lt;!&ndash;id="text">&ndash;&gt;-->
                <!--&lt;!&ndash;</text-angular>&ndash;&gt;-->

                <!--&lt;!&ndash;<a ng-click="model.createReviewForUser(model.desc, model.makeup.brand, model.makeup.product_type, model.makeup.id)" a href="#!/profile"&ndash;&gt;-->
                   <!--&lt;!&ndash;class="btn btn-success btn-block">&ndash;&gt;-->
            <!--<a ng-click="model.createReview(model.desc, model.makeup.brand, model.makeup.product_type, model.makeup.id)" a href="#!/profile"-->
               <!--class="btn btn-success btn-block">-->
                    <!--Create New Review-->
                <!--</a>-->
            <!--</div>-->

    <!--&lt;!&ndash;<a class="btn btn-success btn-block"&ndash;&gt;-->
       <!--&lt;!&ndash;ng-click="model.createReview(model.description, model.makeup.brand, model.makeup.type, model.makeup.productId)">Create</a>&ndash;&gt;-->


        <!--</form>-->
    <!--</div>-->

<!--</div>-->


