<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a class="cl-text-white navbar-brand cl-text-bold" href="#!/user/{{model.uid}}">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>

        <a class="cl-text-white navbar-brand cl-text-bold">
            Search Makeup
        </a>

        <a ng-click="model.newPage(model.page.name, model.page.description)" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div>
</nav>


<div class="container">
    <div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>
    <form class="cl-form-bottom-padding">
        <label for="category">Search By Type</label>
        <input ng-model="model.type"
               class="form-control"  id="category" required>

        <label for="brand">Search By Brand</label>
        <input ng-model="model.brand"
               class="form-control"  id="brand" required>


        <label for="tag">Search By Tag </label>
        <input ng-model="model.tag"
               class="form-control" id="tag" required>

        <div class="form-group row">
            <div class="col-xs-5"><a ng-click="model.search(model.brand, model.type, model.tag)" class="btn btn-success btn-block">Search</a>
            </div>
        </div>

    </form>

</div>


<div ng-repeat="makeup in model.makeups" class="row container-fluid">

    <div class="col-sm-12">
        <ul class="list-group cl-text-blue borderless">
            <li class="list-group-item">
                <a href="#!/website/{{model.wid}}/page/{{page._id}}">
                    <span class="glyphicon glyphicon-pencil pull-right"></span></a>

                <a href="#!/website/{{model.wid}}/page/{{page._id}}/widget" >{{makeup.name}}</a>
            </li>
        </ul>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fuild">
        <a href="#!/user/{{model.uid}}" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="cl-text-blue glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
