<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a class="cl-text-white navbar-brand cl-text-bold" href="#!/website/{{model.wid}}/page/{{model.pid}}/widget">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>

        <a class="cl-text-white navbar-brand cl-text-bold" href="#!/website/{{model.wid}}/page/{{model.pid}}/widget/new">
            Choose Widget
        </a>

    </div>
</nav>

<div class="row container-fluid">
    <div class="col-sm-12">
        <ul class="list-group cl-text-blue borderless">
            <li class="list-group-item">

                <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget/create/HEADING">
                    Header
                </a>
            </li>

            <li class="list-group-item">
                <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget/create/HTML">
                    HTML
                </a>
            </li>
            <li class="list-group-item">
                <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget/create/TEXT">
                    TEXT
                </a>
            </li>
            <li class="list-group-item">
                <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget/create/IMAGE">
                    Image
                </a>
            </li>
            <li class="list-group-item">
                <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget/create/YOUTUBE">
                    Youtube
                </a>
            </li>
        </ul>

    </div>

</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fuild">
        <a href="#!/user/{{model.uid}}" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="cl-text-blue glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
