<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a class="cl-text-white navbar-brand cl-text-bold" href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>

        <a class="cl-text-white navbar-brand cl-text-bold" href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{model.wgid}}">
            Text Edit
        </a>
        <div ng-click="model.updateWidget()" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding hand">
            <span class="glyphicon glyphicon-ok"></span>

            <!--#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget-->
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>

    <label for="name">Name</label>
    <input id="name" ng-model="model.widget.name" class="form-control"/>

    <label for="name">Text</label>
    <input ng-model="model.widget.text" class="form-control"/>

    <label for="name">Rows</label>
    <input ng-model="model.widget.rows" class="form-control" type="number"/>

    <label for="name">Placeholder</label>
    <input ng-model="model.widget.placeholder" class="form-control"/>

    <label for="name">Formatted</label>
    <input ng-model="model.widget.formatted" type="checkbox"/>


    <a ng-click="model.deleteWidget()"
       class="btn btn-danger btn-block">
        Delete
    </a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fuild">
        <a href="#!/user/{{model.uid}}" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="cl-text-blue glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
