<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a class="cl-text-white navbar-brand cl-text-bold" href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>

        <a class="cl-text-white navbar-brand cl-text-bold" href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{model.wgid}}">
            Youtube Edit
        </a>
        <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div>
</nav>

<div class="container">
    <div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>
    <form class="cl-form-bottom-padding">
        <label for="name">Name</label>
        <input ng-model="model.widget.name" type="text" class="form-control" id="name" required>

        <label for="text">Text</label>
        <input ng-model="model.widget.text" type="text" class="form-control" id="text" required>

        <label for="url">URL</label>
        <input ng-model="model.widget.url" type="url" class="form-control" placeholder="https://youtu.be/uLWLashCXHE" id="url" required>

        <label for="width">Width</label>
        <input ng-model="model.widget.width" type="text" class="form-control" id="width" required>

    </form>

    <a ng-click="model.deleteWidget()" class="btn btn-danger btn-block">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fuild">
        <a href="#!/user/{{model.uid}}" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="cl-text-blue glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>


