<div class="adjusted-li">
    <div class="relative-position">
        <div class="row">
            <img class="img-responsive" alt="Responsive image" ng-src="{{widget.url}}"/>

                <div class="pull-right cl-icon-padding">
                    <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{widget._id}}">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </div>
        </div>

    </div>
</div>