<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a class="cl-text-white navbar-brand cl-text-bold" href="#!/website/{{model.wid}}/page/{{model.pid}}/widget">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>

        <a class="cl-text-white navbar-brand cl-text-bold" href="#!/website/{{model.wid}}/page/{{model.pid}}/widget/{{model.wgid}}">
            New HTML Widget
        </a>
        <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div>
</nav>


<div>
    <label for="name">Name</label>
    <input ng-model="model.widgetName"
           type="text"
           class="form-control"
           placeholder="html name"
           id="name"
           required>
    <text-angular
            ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]"
            ng-model="model.widgetText"
            type="text"
            place-holder="html content"
            id="text">
    </text-angular>

    <a ng-click="model.createWidget()"
       class="btn btn-success btn-block">
        Create
    </a>
</div>




<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fuild">
        <a href="#/user/{{model.uid}}" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="cl-text-blue glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
