<!DOCTYPE html>
<html lang="en" ng-app="CoursesApp">
<head>
    <meta charset="UTF-8">
    <title>This is Server Two</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="config.js"></script>

    <!--This part is for loading all controller js-->
    <script src="messageController.js"></script>
    <script src="profileController.js"></script>
    <!--<script src="coursesListController.js"></script>-->
    <!--Controller loading End-->

</head>
<!--inject controller in this webpage, variables defined in this page will be controlled by controller-->
<body ng-contoller="myController">
<!--<div class="container">-->
    <!--<h1>Angular JS Example</h1>-->
    <!--<h2>{{test}}</h2>-->
    <!--&lt;!&ndash;test variable belongs to the scope&ndash;&gt;-->
    <!--<input ng-model= "test_two" type="text" placeholder="test_two">-->
    <!--<button ng-click="PrintMe()" class="btn btn-primary">Print to Console</button>-->
<!--</div>-->

<div class="container">



</div>

<!--ng-routing-->

</body>
</html>